body {
  font-size: 18px;
  color: #51a0c0;
  background-color: #555555;
}

h2 {
  font-size: 48px;
}

div.main {
  margin: auto;
  padding: 20px 150px 20px 150px;
  width: 80%;
  background-color: #001a21;
}

