body {
  font-size: 36px;
  color: #51a0c0;
  background-color: #555555;
}

h2 {
  font-size: 80px;
}

div.main {
  margin: auto;
  padding: 20px 150px 20px 150px;
  width: 80%;
  background-color: #001a21;
}

table, td {
  border: 1px solid white;
  border-collapse: collapse;
}

td.head {
  width: 100px;
  vertical-align: top;
}

td.value {
  width: 500px;
}
