<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <link href="css/recruitment_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main">
  <h2> 公开招募计算器 </h2>
  <table>
  <tr>
    <td> 资质 </td>
    <td>
    {% for i in res.qualification %}
      {{ i.value }}
    {% endfor %}
    </td>
  </tr>
  <tr>
    <td> 位置 </td>
    <td>
    {% for i in res.position %}
      {{ i.value }}
    {% endfor %}
    </td>
  </tr>
  <tr>
    <td> 职业 </td>
    <td>
    {% for i in res.class %}
      {{ i.value }}
    {% endfor %}
    </td>
  </tr>
  <tr>
    <td> 词缀 </td>
    <td>
    {% for i in res.affix %}
      {{ i.value }}
    {% endfor %}
    </td>
  </tr>
  </table>
</div>
</body>
</html>
